

    <!-- hero-section start here  -->
    <section class="hero-section">
        <div class=" container-fluid">
            <div class="row">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class=" d-md-flex">
                                <div class="col-md-5 text-center my-auto">
                                    <img src="{{section.settings.slide1 | image_url }}">
                                    <button onclick="window.location.pathname = '{{section.settings.slide1btnurl}}'" class="shop-btn ">{{section.settings.slide1btn}}</button>
                                </div>
                                <div class="col-md-7">
                                    <img src="{{section.settings.slide1_bg | image_url}}">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class=" d-md-flex">
                                
                                <div class="col-12">
                                    <img  loading="lazy" src="{{section.settings.slide2_bg | image_url }}" alt="section.settings.slide2_bg.alt">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class=" d-md-flex">
                                <div class="col-md-5 text-center my-auto">
                                    <img  loading="lazy" src="{{section.settings.slide1 | image_url }}" alt="{{section.settings.slide1.alt }}">
                                    <button onclick="window.location.pathname = '{{section.settings.slide1btnurl}}'" class="shop-btn ">{{section.settings.slide1btn}}</button>
                                </div>
                                <div class="col-md-7">
                                    <img  loading="lazy" src="{{section.settings.slide1_bg | image_url }}" alt="{{section.settings.slide1_bg.alt }}">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
    </section>
    <!-- hero-section end here  -->

    <!-- play-diffrent-section start  -->
    <section class="play-diffrent-section my-5">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <img src="{{section.settings.logo1 | image_url : width : 100}}">
                    <h3 class="change_way_title ">
                        <p>{{section.settings.sheading1}}</p>
                    </h3>
                    <p class="golf-editor">{{section.settings.sheading2}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- play-diffrent-section end  -->

    <!-- rated-slope-section start  -->
    <section class="rated-slope-section my-5">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-11 mx-auto subrated-slope-section d-lg-flex ">
                    <div class="col-lg-6 mx-auto d-none d-lg-flex mt-auto text-center ">
                        <img src="{{section.settings.product_group | image_url }}" alt="{{section.settings.product_group.alt }}">
                    </div>
                    <div class="col-lg-6 m-auto text-center py-5">
                        <img class="headline-logo"  src="{{section.settings.product_group_logo | image_url }}" alt="{{section.settings.product_group_logo.alt }}">
                        <p class="sub_title">{{section.settings.subheadline}}</p>
                        <div class="row top-icon-section">
                            {% for block in section.blocks %}
                             {% case block.type %}
  
      {% when 'productfeatures' %}  
                                    <div class="col-3 rated-shop-icon">
                                        <div class="top-icon">
                                            {{ block.settings.image | image_url: width: 54 | image_tag }}
                                        </div>
                                        <p>{{ block.settings.text }}</p>
                                    </div>
                                    {% endcase %}
                              {% endfor %}

                          
                         
                        </div>
                        <div class="price my-5">
                            <span class="money">{{section.settings.pricetext}}</span>
                        </div>
                        <div class="button mt-5">
                            <a href="{{section.settings.maincollectionbtn_url}}" class="shopcollection">
                                {{section.settings.maincollectionbtn}}
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 mx-auto d-flex d-lg-none mt-auto text-center ">
                        <img src="{{section.settings.product_group | image_url }}" alt="{{section.settings.product_group.alt }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- rated-slope-section end  -->

    <!-- shop-collection-section start -->
    <section class="shop-collection-section">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-11 mx-auto d-lg-flex ">
                <div class="col-lg-6  text-center pe-4">
                    <div class="player-megnetic-section ">
                    <img class="new_top_logo" src="{{section.settings.collectionsub1 | image_url}}" alt="{{section.settings.collectionsub1.alt}}"> <br>
                    <img  class="product_box" src="{{section.settings.collectionsub1product | image_url}}" alt="{{section.settings.collectionsub1.alt}}">
                    <p class="price">{{section.settings.collectionsub1pricetext}}</p>
                    <div class="button">
                        <a href="{{section.settings.collectionsub1.url }}" class="shopcollection">
                            {{ section.settings.collectionsub1text }}
                        </a>
                    </div>
                </div>
                </div>
                <div class="col-lg-6  text-center ps-lg-4 my-5 my-lg-0">
                    <div class="series-laser-section">
                    <img class="new_top_logo"  src="{{section.settings.collectionsub2 | image_url }}" alt="series2-laser"> <br>
                    <img class="product_box" src="{{section.settings.collectionsub2product | image_url }}" alt="Series2-camera">
                    <p class="price">{{section.settings.collectionsub2pricetext }}</p>
                    <div class="button">
                        <a href="{{ section.settings.collectionsub2url }}" class="shopcollection">
                            {{ section.settings.collectionsub2text }}
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row shop-collectiontwo-section my-5">
                <div class="col-11 mx-auto d-lg-flex ">
                    <div class="col-lg-6 pe-4 megnetic-accesories-section ">
                        <div class="col-md-10 col-xxl-6 ms-md-auto text-center sub-megnetic-accesories">
                            <p class="magnetic-heading">   {{ section.settings.collectionsub3title }}</p>
                            <p class="price"> 
                             {{ section.settings.collectionsub3text }}
                            </p>
                            <div class="button">
                                <a href="{{ section.settings.collectionsub3url }}" class="shopcollection">
                                    {{ section.settings.collectionsub3text2 }}
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6  text-center ps-lg-5 my-5 my-lg-0">
                        <div class="bundleup-section ">
                            <img class="bundleimage" src="{{section.settings.collection4sublogo | image_url }}">
                            <p class="bundle-heading">
                                {{section.settings.collection4subtext }}
                            </p>
                            <div class="row ranfider-section">
    
                                <div class="col-xxl-8 mx-auto d-flex">

                                    {% for block in section.blocks %}
                                        {% case block.type %}
                                          {% when 'collection_feature' %}
                                            <div class="col-3 m-auto border-right-section"> 
                                                {{ block.settings.image | image_url: width: 2048 | image_tag }}
                                                <p class="bundle-title">MAGNETIC RANGEFINDER</p>
                                            </div>
                                          {% endcase %}
                                      {% endfor %}
                                </div>
                            </div>
                            <img src="{{ section.settings.collection4sub | image_url }}" >
                            <div class="pre_order_price">
                                <span class="old-price"><span class="money">{{ section.settings.collection4sub_oldprice }}</span></span>
                                <span class="new-price"><span class="money">{{ section.settings.collection4sub_newprice }}</span></span>
                            </div>
                            <div class="button">
                                <a href="{{section.settings.collection4url}}" class="shopcollection">
                                    {{section.settings.collection4subshoptext }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop-collection-section end  -->

    <div class="free_shipping_bg">
      
        {% for block in section.blocks %}  
    {% case block.type %}
  
      {% when 'spenzo_features' %}  
          <div class="free_shipping_box">
            
            <div class="icon">
                <img src="{{ block.settings.image | img_url:  "master"   }}" alt="" >
        </div>
        

        
            <p> <span>{{ block.settings.text}} </span> <br> {{block.settings.text2}}</p>
        
    </div>

    {% endcase %} 
  {% endfor %}
     
   
    
    
    </div>
    
    <section class="play-diffrent-section compro my-5">

    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h3 class="change_way_title ">
                    <p>
                        {{ section.settings.subhead3text }} 
                    </p>
                </h3>                                
                <p> {{ section.settings.subhead3text2 }} </p> 
            </div>
        </div>
    </div>
</section>

    
 <!-- rated-slope-section start  -->
                <video width="100%" height="100%" class="container-fluid col-11 d-block mx-auto  video-div my-5  subrated-slope-section" data-type="mp4" src="{{section.settings.video1}}" loop="" muted="" playsinline="" autoplay=""></video>
<!-- rated-slope-section end  -->

<!-- shop-collection-section start -->
<section class="shop-collection-section">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-11 mx-auto d-lg-flex ">
            <div class="col-lg-6  text-center pe-4">
                <div class="player-megnetic-section ">
                    <video  width="100%" height="100%"  class="video-div" data-type="mp4" src="{{section.settings.video2 }}" loop="" muted="" playsinline="" autoplay=""></video>
            </div>
            </div>
            <div class="col-lg-6  text-center ps-lg-4 my-5 my-lg-0">
                <div class="player-megnetic-section ">
                    <video  width="100%" height="100%"  class="video-div" data-type="mp4" src="{{section.settings.video3 }}" loop="" muted="" playsinline="" autoplay=""></video>
            </div>
        </div>
        </div>
        
    </div>
</section>
<!-- shop-collection-section end  -->



<section class="follow-section">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-11 mx-auto d-lg-flex mb-5">
                <div class="follow_us_bg" style="background:url({{section.settings.follow_image | img_url : "master"}}) no-repeat center center / cover;">
                    <div class="follow_us_text_box">
                          
                            <h2>{{section.settings.follow_text}}</h2>                                
                        
                        <div class="follow_icon">
                              
                                <a href="{{ settings.social_facebook_link }}"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/fb-icon.svg?v=159817696035120092841655115872"></a>
                            
                              
                                <a href="{{ settings.social_instagram_link }}"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/in-icon.svg?v=162062994991129067981655115843"></a>
                            
                              
                                <a href="{{ settings.social_youtube_link }}"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/you-icon.svg?v=173387528290930052411655115859"></a>
                            
                              
                                <a href="{{ settings.social_tiktok_link }}"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/j-icon.svg?v=106995139673785781321655115866"></a>
                            
                              
                                <a href="{{ settings.social_snapchat_link }}"><img src="//cdn.shopify.com/s/files/1/0057/8958/1381/t/72/assets/chat-icon.svg?v=57052002362302270821655115848"></a>
                            
                            
                        </div>
                          
                          
                            <h3>{{section.settings.social_id}}</h3>                                
                        
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
</section>
{% schema %}
{
  "name": "homepage",
  "settings": [ 
    {
        "type": "header",
        "content": "hero section",
        "info": "hero section"
      },
      {
        "type": "image_picker",
        "id": "slide1",
        "label": "SLide 1"
      },
      {
        "type": "text",
        "id": "slide1btn",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "slide1btnurl",
        "label": "Button url"
      },
      {
        "type": "image_picker",
        "id": "slide1_bg",
        "label": "Slide 1 background"
      },
      {
        "type": "image_picker",
        "id": "slide2_bg",
        "label": "Slide 2"
      },
      {
        "type": "header",
        "content": "introduction",
        "info": "shop new collection"
      },
      {
        "type": "image_picker",
        "id": "logo1",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "sheading1",
        "label": "Heading 1"
      },
      {
        "type": "text",
        "id": "sheading2",
        "label": "heading 2"
      }
      ,
      {
        "type": "image_picker",
        "id": "product_group",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "product_group_logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "subheadline",
        "label": "heading"
      },
      {
        "type": "text",
        "id": "pricetext",
        "label": "Price text"
      },
      {
        "type": "text",
        "id": "maincollectionbtn",
        "label": "button text"
      },
      {
        "type": "url",
        "id": "maincollectionbtn_url",
        "label": "Collection button link"
      },
       {
        "type": "header",
        "content": "Sub collection",
        "info": "First collection"
      },
      {
        "type": "image_picker",
        "id": "collectionsub1",
        "label": "collection logo"
      },
      {
        "type": "image_picker",
        "id": "collectionsub1product",
        "label": "collection image"
      },
      {
        "type": "text",
        "id": "collectionsub1pricetext",
        "label": "Price text"
      },
       {
        "type": "text",
        "id": "collectionsub1text",
        "label": "button text"
      },
       {
        "type": "url",
        "id": "collectionsub1url",
        "label": "button url"
      },
       {
        "type": "header",
        "content": "Sub collection",
        "info": "Second collection"
      },
      {
        "type": "image_picker",
        "id": "collectionsub2",
        "label": "Collection logo"
      },
      {
        "type": "image_picker",
        "id": "collectionsub2product",
        "label": "Collection image"
      },
      {
        "type": "text",
        "id": "collectionsub2pricetext",
        "label": "Price text"
      },
       {
        "type": "text",
        "id": "collectionsub2text",
        "label": "button text"
      },
       {
        "type": "url",
        "id": "collectionsub2url",
        "label": "button url"
      } ,
      {
        "type": "header",
        "content": "Sub collection",
        "info": "third collection"
      }, {
        "type": "text",
        "id": "collectionsub3title",
        "label": "Collection title"

      }, {
        "type": "text",
        "id": "collectionsub3text",
        "label": "Collection text"
        
      }, {
        "type": "text",
        "id": "collectionsub3text2",
        "label": "Collection button text"
        
      }, {
        "type": "url",
        "id": "collectionsub3url",
        "label": "Collection url"
        
      },
      {
        "type": "header",
        "content": "Sub collection",
        "info": "fourth collection"
      },
      {
        "type": "image_picker",
        "id": "collection4sublogo",
        "label": "Collection logo"
      },
      {
        "type": "image_picker",
        "id": "collection4sub",
        "label": "Collection image main"
      }, {
        "type": "text",
        "id": "collection4subshoptext",
        "label": "Collection button text"
        
      }, {
        "type": "url",
        "id": "collection4url",
        "label": "Collection button url"
        
      }, {
        "type": "text",
        "id": "collection4sub_newprice",
        "label": "Collection new price"
        
      }, {
        "type": "text",
        "id": "collection4sub_oldprice",
        "label": "Collection old price"
        
      },
      {
        "type": "header",
        "content": "videointroduction",
        "info": "this will have video url hosted on shopify cdn"
      }, {
        "type": "text",
        "id": "subhead3text",
        "label": "Subhead text"
        
      }, {
        "type": "text",
        "id": "subhead3text2",
        "label": "Subhead text2"
        
      }, {
        "type": "url",
        "id": "video1",
        "label": "Video 1"
        
      },{
        "type": "url",
        "id": "video2",
        "label": "Video 2"
        
      },{
        "type": "url",
        "id": "video3",
        "label": "Video 3"
        
      },
      {
        "type": "header",
        "content": "follow us section",
        "info": "content and images"
      },{
        "type": "image_picker",
        "id": "follow_image",
        "label": "Follow us image"
        
      },{
        "type": "text",
        "id": "follow_text",
        "label": "Follow us text"
        
      },{
        "type": "text",
        "id": "social_id",
        "label": "Social id"
        
      }

  ],
  "blocks": [
     {
       "name": "Product Features",
       "type": "productfeatures",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },  {
           "type": "text",
           "id": "text",
           "label": "text"
         }
       ]
     },
      {
       "name": "Spenzo Features",
       "type": "spenzo_features",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },  {
           "type": "text",
           "id": "text",
           "label": "text"
         },
         {
           "type": "text",
           "id": "text2",
           "label": "text2"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "homepage",
      "category": "home"
    }
  ]
}

{% endschema %}
